<ion-header [translucent]="true">
  <ion-toolbar class="customToolbar">
    <ion-grid>
      <ion-row style="align-items: center;">
        <ion-col size="8">
          <!-- <ion-title style="color: white; font-size: 25px;">
            𝓘𝓷𝓼𝓽𝓪𝓬𝓵𝓸𝓷𝓮
          </ion-title> -->
          <ion-img style="width: 50%" src="assets/imgs/logo.png">

          </ion-img>
        </ion-col>
        <ion-col size="1">
          <ion-icon src="assets/icon/add.svg"></ion-icon>
        </ion-col>
        <ion-col size="1" style="margin-left: 2%; margin-right: 2%">
          <ion-icon src="assets/icon/heart.svg"></ion-icon>
        </ion-col>
        <ion-col size="1">
          <ion-icon src="assets/icon/send.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-postcard></app-postcard>

</ion-content>