<ion-header [translucent]="true">
  <ion-toolbar class="customToolbar">
    <ion-grid>
      <ion-row style="align-items: center;">
        <ion-col size="8">
          <ion-title style="color: white">
            𝓘𝓷𝓼𝓽𝓪𝓬𝓵𝓸𝓷𝓮
          </ion-title>
        </ion-col>
        <ion-col size="1">
          <ion-icon src="assets/icon/add.svg"></ion-icon>
        </ion-col>
        <ion-col size="2" style="padding-left: 5%;">
          <ion-icon style="color: white;font-size: x-large;" name="heart-outline"></ion-icon>
        </ion-col>
        <ion-col size="1">
          <ion-icon src="assets/icon/send.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content class="darkBg" [fullscreen]="true">
  <app-postcard></app-postcard>
  <!-- <ion-infinite-scroll *ngIf="initalEvents.length" #infiniteScroll threshold="100px"
  (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loading-spinner="bubbles">
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->
</ion-content>