<ion-list style="background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); ">

  <ion-list-header>
    <ion-label style="font-size: 15px;">Share with</ion-label>
  </ion-list-header>
  <ion-item lines="none" button>
    <ion-icon style="color: #3b5998" slot="start" name="logo-facebook"></ion-icon>
    <ion-label style="color: #3b5998 ">
      Facebook
    </ion-label>
  </ion-item>

  <ion-item lines="none" button>
    <ion-icon style="color: #1DA1F2" slot="start" name="logo-twitter"></ion-icon>
    <ion-label style="color: #1DA1F2 ">
      Twitter
    </ion-label>
  </ion-item>

  <ion-item lines="none" button>
    <ion-icon style="color: #000" slot="start" name="logo-tiktok"></ion-icon>
    <ion-label style="color: #000 ">
      TikTok
    </ion-label>
  </ion-item>

  <ion-item lines="none" button>
    <ion-icon style="color: #0e76a8 " slot="start" name="logo-linkedin"></ion-icon>
    <ion-label style="color: #0e76a8  ">
      LinkedIn
    </ion-label>
  </ion-item>
</ion-list>